.contact {
    height: auto;

    .bg {
        background-image: url("#{$imgPath}/img_contact.jpg");

        padding: 5em 0 3em;
        position: relative;
        .overlay {
            @include abs_pos($top: 0, $right: 0, $bottom: 0, $left: 0);
            background-color: black(.25);
            z-index: -1;
        }
    }
    .title {
        @include worksans(em(60px), normal, 200);
        color: $white;
        line-height: 1;
        text-align: center;
        margin: 0;
        .top {
            @include worksans(em(6px), normal, 400);
            margin-bottom: .3em;
            display: block;
        }
    }
}

.cfgen-form-container {
    color: $white;
    margin-bottom: 2em;
}

label {
    font-size: 0.8em;
    @include bp(mediumUp) {
        font-size: 1em;
    }
}

.cfgen-label {
    display: none;
}

.cfgen-e-set {
    input, textarea {
        @include placeholder {
            color: white(.7);
        }
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        margin-bottom: .8em;
        padding: 1em;
        width: 100%;

        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        &:focus {
            @include placeholder {
                color: $base;
            }
            background-color: white(.95);
        }
    }

    .cfgen-option-checkbox {
        @include bp(mediumUp) {
            @include grid-column(4);
        }
        @include grid-column(6);
        color: $white;
        input {
            margin-right: .5em;
            width: auto;
        }
    }
}

.social {
    @include grid-column(12);
    padding: 2em 0;
    .social_list {
        @include clearfix();
        @include inline_list();
        @include centered_list();
        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            @include circle(50px, transparent);
            color: $white;
            font-size: 1.3em;
            text-align: center;
            border: 1px solid $white;
            padding: .6em 0;
            display: inline-block;
            &:hover {
                color: $dodge-blu;
                background-color: $white;
            }
        }
        .fa {
            position: relative;
            top: -2px;
        }
    }
}

.submit_container {
    text-align: center;
    .cfgen-submit {
        color: $white;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid $white;
        margin: 0 auto;
        padding: 1em 2em;
    }
}

#formSmall {
    padding: 1em;
    @include bp(mediumUp) {
        padding: 3em;
    }
}

